.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.overlay[data-visible] {
    display: block;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--background-color);
    border-right: 1px solid var(--border-color);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar[data-visible] {
    transform: translateX(0);
}

.sidebar header {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}
.sidebar section {
    flex: 1;
    overflow-y: scroll;
}
.sidebar section a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    text-decoration: none;
}
.sidebar section a:hover {
    background-color: var(--border-color);
}
